qrcode==7.3
selenium==4.13.0  # For web automation
webdriver-manager==3.4.2  # For managing web driver executables

# For working with WhatsApp Web
Pillow==10.0.1  # For image handling
typing-extensions==3.10.0.2  # For 'Literal' type hint

# For file and directory operations
pathlib2==2.3.6
bs4==0.0.1

# For handling chat messages and attachments
moviepy==1.0.3  # For video processing
imageio[ffmpeg]==2.9.0  # For image and video handling
colorama==0.4.4
datefinder==0.7.3
requests==2.31.0
